# Home Credit Baseline Model - Logistic Regression

In [1]:
import logreg_report_v2

In [2]:
# standard library imports
import gc
import os
import random
import sys
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

# third party imports
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import polars as pl
import pyarrow.parquet as pq
import joblib
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    roc_auc_score,
    f1_score,
    log_loss,
    SCORERS, 
    get_scorer,
    classification_report, 
    ConfusionMatrixDisplay, 
)
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer, StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.svm import LinearSVC

## getting data

In [29]:
data = pd.read_parquet('data/train/trian_sample_no_imputation.parquet')

In [30]:
data

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,...,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M,pmts_date_1107D,pmts_dpdvalue_108P,pmts_pmtsoverdue_635A
0,12866,2019-04-24,201904,16,0,NaN,NaN,6064.6,0.0,0.0,...,NaN,NaN,NaN,2018.0,NaN,a55475b1,ab3c25cf,None,NaN,NaN
1,12866,2019-04-24,201904,16,0,NaN,NaN,6064.6,0.0,0.0,...,NaN,NaN,NaN,2018.0,NaN,a55475b1,a55475b1,None,NaN,NaN
2,12866,2019-04-24,201904,16,0,NaN,NaN,6064.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN
3,12866,2019-04-24,201904,16,0,NaN,NaN,6064.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN
4,12866,2019-04-24,201904,16,0,NaN,NaN,6064.6,0.0,0.0,...,NaN,NaN,NaN,2017.0,NaN,a55475b1,daf49a8a,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941052,168975,2019-10-21,201910,41,0,0.0,5072.0,6518.2,2536.0,0.0,...,2.0,NaN,NaN,NaN,2010.0,ab3c25cf,a55475b1,None,NaN,NaN
941053,168975,2019-10-21,201910,41,0,0.0,5072.0,6518.2,2536.0,0.0,...,3.0,NaN,NaN,NaN,2010.0,a55475b1,a55475b1,None,NaN,NaN
941054,168975,2019-10-21,201910,41,0,0.0,5072.0,6518.2,2536.0,0.0,...,4.0,NaN,0.0,NaN,2010.0,a55475b1,a55475b1,None,NaN,NaN
941055,168975,2019-10-21,201910,41,0,0.0,5072.0,6518.2,2536.0,0.0,...,2.0,NaN,NaN,2019.0,2007.0,ab3c25cf,ab3c25cf,None,NaN,NaN
941056,168975,2019-10-21,201910,41,0,0.0,5072.0,6518.2,2536.0,0.0,...,2.0,NaN,NaN,2019.0,2007.0,ab3c25cf,ab3c25cf,None,NaN,NaN

In [34]:
def impute_default(df):
    
    train_df = df.copy()

    # Assuming train_df is already loaded
    null_df = train_df[train_df.columns[train_df.isnull().any()]]

    # Impute NaN values with 0 in numerical columns
    zero_impute_columns = list(null_df.select_dtypes(exclude="object").columns)
    for column in zero_impute_columns:
        train_df[column] = train_df[column].fillna(0)

    # Impute NaN values with the mode in categorical columns
    mode_impute_columns = list(null_df.select_dtypes(include="object").columns)

    for column in mode_impute_columns:
        mode_value = train_df[column].mode()[0]
        train_df[column] = train_df[column].fillna(mode_value)
        
    return train_df

## function for logistic regression model

In [38]:
def train_model(train_df):

    X, y = train_df.drop(columns=["target"]), train_df["target"]

    # Splitting by 'case_id'
    case_ids = train_df['case_id'].unique()
    train_case_ids, test_case_ids = train_test_split(case_ids, test_size=0.2, random_state=42)

    X_train = train_df[train_df['case_id'].isin(train_case_ids)].drop(columns=["target"])
    y_train = train_df[train_df['case_id'].isin(train_case_ids)]["target"]
    X_test = train_df[train_df['case_id'].isin(test_case_ids)].drop(columns=["target"])
    y_test = train_df[train_df['case_id'].isin(test_case_ids)]["target"]

    numeric_transformer = Pipeline(steps=[
        ('scaler', StandardScaler())])

    categorical_transformer = OneHotEncoder(handle_unknown='ignore')

    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numeric_transformer,  X_train.select_dtypes(exclude="object").columns),
            ('cat', categorical_transformer,  X_train.select_dtypes(include="object").columns)])

    pipe = Pipeline(
        [
            ('preprocessor', preprocessor),
            ("clf", LogisticRegression(random_state=0, max_iter=1000)),
        ]
    )

    pipe.fit(X_train, y_train)

    # y_pred = pipe.predict(X_train)
    y_pred = [probs[1] for probs in pipe.predict_proba(X_train)]
    return pipe, X_train, y_train, X_test, y_test

## pipeline for imputation + modeling + results process

In [39]:
def model_pipeline(data, cols):
    
    base_cols = [
    'case_id',
    'WEEK_NUM',
    'target'
    ]
    
    # grab necessary cols
    train_df = data[base_cols + cols]
    
    # impute NaN
    train_df = impute_default(train_df)
    
    # fit model
    pipe, X_train, y_train, X_test, y_test = train_model(train_df)
    
    # evaluate model
    train_stats = logreg_report_v2.generate_report(pipe, X_train, y_train, list(X_train.columns), ['log_loss'])
    test_stats = logreg_report_v2.generate_report(pipe, X_test, y_test, list(X_test.columns), ['log_loss'])
    
    return pipe, train_stats, test_stats

## accuracy when looking at all columns (is slow)

In [50]:
all_cols = list(data.columns)
all_cols.remove('date_decision')
all_cols.remove('MONTH')
all_cols.remove('WEEK_NUM')
all_cols.remove('case_id')
all_cols.remove('target')
model_pipeline(data, all_cols)

Log Loss: 0.00828574891750127
AUC: 0.999535653418272
Gini Stability Score: 0.9081090032688874
Log Loss: 0.22446293161177763
AUC: 0.7029879070923011
Gini Stability Score: 0.22736629708313305

(Pipeline(steps=[('preprocessor',
                  ColumnTransformer(transformers=[('num',
                                                   Pipeline(steps=[('scaler',
                                                                    StandardScaler())]),
                                                   Index(['case_id', 'WEEK_NUM', 'actualdpdtolerance_344P',
        'amtinstpaidbefduel24m_4187115A', 'annuity_780A',
        'annuitynextmonth_57A', 'applicationcnt_361L', 'applications30d_658L',
        'applicationscnt_1086L', 'applicationscnt_464L',
        ...
        'pmts_dpd_107...
        'empls_employedfrom_796D', 'empls_employer_name_740M',
        'relatedpersons_role_762T', 'collater_typofvalofguarant_298M',
        'collater_typofvalofguarant_407M', 'collaterals_typeofguarante_359M',
        'collaterals_typeofguarante_669M', 'subjectroles_name_541M',
        'subjectroles_name_838M', 'pmts_date_1107D'],
       dtype='object', length=156))])),
                 ('clf', LogisticRegression(max_iter=1000, random_state=0))]),
 {'AUC': 0.999535653418272,
  'Gini Stability': 0.9081090032688874,
  'log_loss': 0.00828574891750127},
 {'AUC': 0.7029879070923011,
  'Gini Stability': 0.22736629708313305,
  'log_loss': 0.22446293161177763})

## Use metrics to choose columns

In [3]:
metrics = pd.read_csv('model_metrics.csv')
metrics

,columns,train AUC,train gini,test AUC,test gini
0,"['actualdpdtolerance_344P', 'amtinstpaidbefdue...",0.680265,0.281248,0.655037,0.113800
1,"['amtinstpaidbefduel24m_4187115A', 'annuity_78...",0.680305,0.281470,0.655385,0.114548
2,"['annuity_780A', 'annuitynextmonth_57A', 'appl...",0.654121,0.209124,0.641964,0.105539
3,"['annuitynextmonth_57A', 'applicationcnt_361L'...",0.651671,0.203835,0.634877,0.077457
4,"['applicationcnt_361L', 'applications30d_658L'...",0.651558,0.204617,0.631739,0.068214
...,...,...,...,...,...
442,"['conts_role_79M', 'empls_economicalst_849M', ...",0.569088,0.075141,0.562909,0.019772
443,"['empls_economicalst_849M', 'empls_employedfro...",0.569041,0.075262,0.563148,0.022188
444,"['empls_employedfrom_796D', 'empls_employer_na...",0.572390,0.083731,0.565747,0.034017
445,"['empls_employer_name_740M', 'relatedpersons_r...",0.572378,0.083763,0.565762,0.034244
446,"['relatedpersons_role_762T', 'collater_typofva...",0.572352,0.083674,0.565744,0.034183

In [5]:
metrics['train AUC diff'] = metrics['train AUC'].diff()
metrics['train gini diff'] = metrics['train gini'].diff()
metrics['test AUC diff'] = metrics['test AUC'].diff()
metrics['test gini diff'] = metrics['test gini'].diff()

In [6]:
metrics

,columns,train AUC,train gini,test AUC,test gini,train AUC diff,train gini diff,test AUC diff,test gini diff
0,"['actualdpdtolerance_344P', 'amtinstpaidbefdue...",0.680265,0.281248,0.655037,0.113800,NaN,NaN,NaN,NaN
1,"['amtinstpaidbefduel24m_4187115A', 'annuity_78...",0.680305,0.281470,0.655385,0.114548,0.000040,0.000222,0.000348,0.000748
2,"['annuity_780A', 'annuitynextmonth_57A', 'appl...",0.654121,0.209124,0.641964,0.105539,-0.026184,-0.072346,-0.013421,-0.009009
3,"['annuitynextmonth_57A', 'applicationcnt_361L'...",0.651671,0.203835,0.634877,0.077457,-0.002449,-0.005290,-0.007086,-0.028083
4,"['applicationcnt_361L', 'applications30d_658L'...",0.651558,0.204617,0.631739,0.068214,-0.000113,0.000782,-0.003138,-0.009243
...,...,...,...,...,...,...,...,...,...
442,"['conts_role_79M', 'empls_economicalst_849M', ...",0.569088,0.075141,0.562909,0.019772,-0.000637,-0.001931,-0.000178,-0.002227
443,"['empls_economicalst_849M', 'empls_employedfro...",0.569041,0.075262,0.563148,0.022188,-0.000047,0.000121,0.000239,0.002416
444,"['empls_employedfrom_796D', 'empls_employer_na...",0.572390,0.083731,0.565747,0.034017,0.003350,0.008468,0.002599,0.011828
445,"['empls_employer_name_740M', 'relatedpersons_r...",0.572378,0.083763,0.565762,0.034244,-0.000012,0.000032,0.000015,0.000227
446,"['relatedpersons_role_762T', 'collater_typofva...",0.572352,0.083674,0.565744,0.034183,-0.000027,-0.000089,-0.000018,-0.000061

In [8]:
met_stats = metrics.describe()
met_stats

,train AUC,train gini,test AUC,test gini,train AUC diff,train gini diff,test AUC diff,test gini diff
count,447.000000,447.000000,447.000000,447.000000,446.000000,446.000000,446.000000,446.000000
mean,0.725484,0.363081,0.586550,0.006495,-0.000242,-0.000443,-0.000200,-0.000179
std,0.137225,0.278038,0.048107,0.080058,0.019705,0.041873,0.009044,0.024041
min,0.512553,-0.074440,0.495779,-0.171625,-0.168913,-0.361470,-0.053623,-0.136316
25%,0.591929,0.113081,0.562960,-0.041310,-0.001084,-0.003423,-0.001412,-0.006237
50%,0.713892,0.336677,0.587488,0.022117,-0.000017,-0.000051,0.000023,0.000013
75%,0.834379,0.601643,0.608714,0.062940,0.001186,0.002505,0.001486,0.005378
max,0.990925,0.910852,0.694022,0.189145,0.113702,0.224264,0.062018,0.138928

### first let's look at which column(s), when added, increases our gini and AUC scores (by at least the 75th percentile)

In [9]:
met_stats.loc['75%']['test gini']

0.06293988510764639

In [12]:
def find_inc(col_name):
    threshold = met_stats.loc['75%'][col_name + ' diff']
    metrics[col_name + ' inc'] = metrics[col_name + ' diff'] > threshold
    return metrics

In [13]:
metrics = find_inc('train AUC')
metrics = find_inc('train gini')
metrics = find_inc('test AUC')
metrics = find_inc('test gini')
metrics

,columns,train AUC,train gini,test AUC,test gini,train AUC diff,train gini diff,test AUC diff,test gini diff,train AUC inc,train gini inc,test AUC inc,test gini inc
0,"['actualdpdtolerance_344P', 'amtinstpaidbefdue...",0.680265,0.281248,0.655037,0.113800,NaN,NaN,NaN,NaN,False,False,False,False
1,"['amtinstpaidbefduel24m_4187115A', 'annuity_78...",0.680305,0.281470,0.655385,0.114548,0.000040,0.000222,0.000348,0.000748,False,False,False,False
2,"['annuity_780A', 'annuitynextmonth_57A', 'appl...",0.654121,0.209124,0.641964,0.105539,-0.026184,-0.072346,-0.013421,-0.009009,False,False,False,False
3,"['annuitynextmonth_57A', 'applicationcnt_361L'...",0.651671,0.203835,0.634877,0.077457,-0.002449,-0.005290,-0.007086,-0.028083,False,False,False,False
4,"['applicationcnt_361L', 'applications30d_658L'...",0.651558,0.204617,0.631739,0.068214,-0.000113,0.000782,-0.003138,-0.009243,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,"['conts_role_79M', 'empls_economicalst_849M', ...",0.569088,0.075141,0.562909,0.019772,-0.000637,-0.001931,-0.000178,-0.002227,False,False,False,False
443,"['empls_economicalst_849M', 'empls_employedfro...",0.569041,0.075262,0.563148,0.022188,-0.000047,0.000121,0.000239,0.002416,False,False,False,False
444,"['empls_employedfrom_796D', 'empls_employer_na...",0.572390,0.083731,0.565747,0.034017,0.003350,0.008468,0.002599,0.011828,True,True,True,True
445,"['empls_employer_name_740M', 'relatedpersons_r...",0.572378,0.083763,0.565762,0.034244,-0.000012,0.000032,0.000015,0.000227,False,False,False,False
446,"['relatedpersons_role_762T', 'collater_typofva...",0.572352,0.083674,0.565744,0.034183,-0.000027,-0.000089,-0.000018,-0.000061,False,False,False,False

In [18]:
best_cols = metrics[(metrics['train AUC inc'] == True) & (metrics['train gini inc'] == True)
       & (metrics['test AUC inc'] == True) & (metrics['test gini inc'] == True)]
best_cols

,columns,train AUC,train gini,test AUC,test gini,train AUC diff,train gini diff,test AUC diff,test gini diff,train AUC inc,train gini inc,test AUC inc,test gini inc
18,"['avgpmtlast12m_4525200A', 'bankacctype_710L',...",0.560252,0.029661,0.586486,0.005370,0.010604,0.046369,0.062018,0.138928,True,True,True,True
21,"['clientscnt12m_3712952L', 'clientscnt3m_37129...",0.603924,0.138641,0.592305,0.036110,0.004230,0.025590,0.004817,0.018066,True,True,True,True
27,"['clientscnt_1130L', 'clientscnt_136L', 'clien...",0.922236,0.773257,0.627422,0.035404,0.099032,0.220067,0.023759,0.057929,True,True,True,True
38,"['cntpmts24_3658933L', 'commnoinclast6m_354684...",0.984163,0.901156,0.629344,0.096698,0.031970,0.073167,0.016329,0.080442,True,True,True,True
61,"['interestrate_311L', 'interestrategrace_34L',...",0.978230,0.883504,0.565646,-0.047207,0.020880,0.037842,0.016352,0.040011,True,True,True,True
86,"['mastercontrelectronic_519L', 'mastercontrexi...",0.861131,0.647036,0.568162,-0.105166,0.001253,0.005117,0.002223,0.008796,True,True,True,True
91,"['maxdbddpdtollast12m_3658940P', 'maxdbddpdtol...",0.878190,0.695004,0.616870,-0.008531,0.017670,0.052751,0.043832,0.097911,True,True,True,True
95,"['maxdpdinstldate_3546855D', 'maxdpdinstlnum_3...",0.878577,0.696440,0.617389,-0.007227,0.001657,0.003548,0.005710,0.010985,True,True,True,True
98,"['maxdpdlast24m_143P', 'maxdpdlast3m_392P', 'm...",0.705332,0.325446,0.650246,0.101793,0.004812,0.008155,0.004115,0.014935,True,True,True,True
99,"['maxdpdlast3m_392P', 'maxdpdlast6m_474P', 'ma...",0.711487,0.336677,0.661470,0.124726,0.006155,0.011232,0.011224,0.022933,True,True,True,True
122,"['numinstmatpaidtearly2d_4499204L', 'numinstpa...",0.708598,0.337293,0.673967,0.068731,0.011130,0.024965,0.013736,0.025490,True,True,True,True
132,"['numinstpaidlate1d_3546852L', 'numinstregular...",0.727652,0.380029,0.692730,0.187886,0.003418,0.006882,0.006189,0.039563,True,True,True,True
153,"['posfpd30lastmonth_3976960P', 'posfstqpd30las...",0.869353,0.663614,0.597622,0.001540,0.037788,0.152139,0.003524,0.016431,True,True,True,True
155,"['previouscontdistrict_112M', 'price_1097A', '...",0.883129,0.690642,0.609342,0.021031,0.004006,0.008970,0.015311,0.033635,True,True,True,True
183,"['for3years_128L', 'for3years_504L', 'for3year...",0.611609,0.116158,0.573513,-0.003129,0.033087,0.069490,0.003759,0.042117,True,True,True,True
184,"['for3years_504L', 'for3years_584L', 'formonth...",0.626161,0.139634,0.586830,0.023569,0.014552,0.023477,0.013317,0.026698,True,True,True,True
185,"['for3years_584L', 'formonth_118L', 'formonth_...",0.628357,0.149862,0.588949,0.031563,0.002196,0.010228,0.002120,0.007994,True,True,True,True
190,"['forquarter_462L', 'forquarter_634L', 'fortod...",0.646414,0.188827,0.604379,-0.004287,0.006458,0.008734,0.010979,0.007779,True,True,True,True
191,"['forquarter_634L', 'fortoday_1092L', 'forweek...",0.655349,0.210355,0.612900,0.023116,0.008935,0.021527,0.008521,0.027403,True,True,True,True
196,"['foryear_618L', 'foryear_818L', 'foryear_850L...",0.754176,0.411149,0.603734,0.032856,0.005111,0.011619,0.012630,0.016992,True,True,True,True
202,"['numberofqueries_373L', 'pmtaverage_3A', 'pmt...",0.808365,0.547210,0.605993,0.048786,0.054831,0.137910,0.009517,0.039745,True,True,True,True
229,"['credacc_minhisbal_90A', 'credacc_status_367L...",0.834745,0.605153,0.580137,0.073381,0.001283,0.004131,0.002625,0.007590,True,True,True,True
232,"['credamount_590A', 'credtype_587L', 'currdebt...",0.836293,0.605331,0.585664,0.073378,0.001321,0.003083,0.003001,0.009167,True,True,True,True
235,"['dateactivated_425D', 'district_544M', 'downp...",0.839506,0.610949,0.591112,0.075665,0.002008,0.003840,0.004090,0.006987,True,True,True,True
257,"['status_219L', 'tenor_203L', 'amtdebitincomin...",0.831339,0.591327,0.588617,0.009919,0.007280,0.011958,0.011502,0.086859,True,True,True,True
264,"['amount_4527230A', 'name_4527232M', 'recordda...",0.876708,0.653652,0.574351,-0.030656,0.042760,0.078754,0.010629,0.015478,True,True,True,True
282,"['dateofcredend_289D', 'dateofcredend_353D', '...",0.823946,0.498346,0.572577,0.049651,0.004088,0.008007,0.005185,0.010208,True,True,True,True
296,"['financialinstitution_382M', 'financialinstit...",0.723507,0.324730,0.608129,0.099786,0.035862,0.055005,0.017870,0.028591,True,True,True,True
314,"['numberofoverdueinstlmax_1151L', 'numberofove...",0.686575,0.270708,0.603801,0.095151,0.006281,0.011713,0.005750,0.015862,True,True,True,True
375,"['maxdebtpduevalodued_3940955A', 'numberofinst...",0.518230,-0.061063,0.500375,-0.158308,0.002641,0.007403,0.003215,0.006251,True,True,True,True
377,"['overdueamountmax_950A', 'overdueamountmaxdat...",0.557210,0.033723,0.512184,-0.107532,0.033236,0.082799,0.010248,0.047005,True,True,True,True
380,"['periodicityofpmts_997L', 'periodicityofpmts_...",0.563472,0.048507,0.514745,-0.087203,0.004281,0.010487,0.002716,0.018150,True,True,True,True
384,"['pmtnumpending_403L', 'purposeofcred_722M', '...",0.579076,0.076574,0.521424,-0.078964,0.001579,0.003351,0.004570,0.025119,True,True,True,True
396,"['birth_259D', 'birthdate_87D', 'childnum_185L...",0.584917,0.094290,0.530942,-0.055692,0.001303,0.009840,0.007382,0.026842,True,True,True,True
402,"['contaddr_zipcode_807M', 'education_927M', 'e...",0.576292,0.074012,0.534509,-0.104488,0.002283,0.023025,0.001927,0.014205,True,True,True,True
419,"['persontype_1072L', 'persontype_792L', 'regis...",0.591098,0.131887,0.549995,-0.012212,0.005233,0.046555,0.003740,0.089305,True,True,True,True
428,"['safeguarantyflag_411L', 'sex_738L', 'type_25...",0.553988,0.076314,0.538521,-0.049444,0.002407,0.006158,0.004351,0.009317,True,True,True,True
429,"['sex_738L', 'type_25L', 'last180dayaveragebal...",0.559620,0.091383,0.545094,0.000455,0.005632,0.015070,0.006573,0.049900,True,True,True,True
432,"['last180dayturnover_1134A', 'last30dayturnove...",0.563041,0.087690,0.548650,0.037082,0.006390,0.009652,0.007096,0.041584,True,True,True,True
436,"['conts_type_509L', 'credacc_cards_status_52L'...",0.558072,0.077804,0.551664,0.049079,0.003929,0.008962,0.004585,0.007609,True,True,True,True
444,"['empls_employedfrom_796D', 'empls_employer_na...",0.572390,0.083731,0.565747,0.034017,0.003350,0.008468,0.002599,0.011828,True,True,True,True

In [27]:
def get_new_col(columns):
    columns = columns.strip('[').strip(']').split(',')[-1].strip(" '")
    return columns

cols_set_1 = best_cols['columns'].apply(get_new_col).to_list()

In [40]:
model_pipeline(data, cols_set_1)

Log Loss: 0.037515780435693376
AUC: 0.9913919259077064
Gini Stability Score: 0.9184455119476553
Log Loss: 0.21504487090275615
AUC: 0.6431659550868074
Gini Stability Score: 0.1439366964165261

(Pipeline(steps=[('preprocessor',
                  ColumnTransformer(transformers=[('num',
                                                   Pipeline(steps=[('scaler',
                                                                    StandardScaler())]),
                                                   Index(['case_id', 'WEEK_NUM', 'cntincpaycont9m_3716944L', 'credamount_770A',
        'maxoutstandbalancel12m_4187113A', 'monthsannuity_845L',
        'numcontrs3months_479L', 'numinstls_657L', 'numinstlsallpaid_934L',
        'numrejects9m_859L', 'pmtnum_254L', 'days1...
        'lastupdate_1112D', 'numberofoverdueinstlmaxdat_148D',
        'contractenddate_991D', 'birth_259D', 'contaddr_district_15M',
        'education_927M', 'language1_981M', 'registaddr_district_1083M',
        'collater_typofvalofguarant_298M', 'collater_typofvalofguarant_407M',
        'collaterals_typeofguarante_359M', 'pmts_date_1107D'],
       dtype='object'))])),
                 ('clf', LogisticRegression(max_iter=1000, random_state=0))]),
 {'AUC': 0.9913919259077064,
  'Gini Stability': 0.9184455119476553,
  'log_loss': 0.037515780435693376},
 {'AUC': 0.6431659550868074,
  'Gini Stability': 0.1439366964165261,
  'log_loss': 0.21504487090275615})

### seems to be overfitting, lets just look at cols where test gini and auc increase

In [41]:
cols_set_2 = metrics[(metrics['test AUC inc'] == True) & (metrics['test gini inc'] == True)]
cols_set_2 = cols_set_2['columns'].apply(get_new_col).to_list()

model_pipeline(data, cols_set_2)

Log Loss: 0.030127286517692736
AUC: 0.9949786906955759
Gini Stability Score: 0.9147935606880729
Log Loss: 0.2119675100254908
AUC: 0.6795107407896358
Gini Stability Score: 0.217892867674466

(Pipeline(steps=[('preprocessor',
                  ColumnTransformer(transformers=[('num',
                                                   Pipeline(steps=[('scaler',
                                                                    StandardScaler())]),
                                                   Index(['case_id', 'WEEK_NUM', 'clientscnt_1071L', 'cntincpaycont9m_3716944L',
        'credamount_770A', 'mastercontrexist_109L',
        'maxdbddpdtollast12m_3658940P', 'maxdebt4_972A', 'maxdpdlast6m_474P',
        'maxoutstandbalancel12m_4187113A', 'mobilephncnt_59...
        'numberofoverdueinstlmaxdat_148D', 'contractenddate_991D', 'birth_259D',
        'contaddr_district_15M', 'education_927M', 'empladdr_district_926M',
        'language1_981M', 'registaddr_district_1083M',
        'collater_typofvalofguarant_298M', 'collater_typofvalofguarant_407M',
        'collaterals_typeofguarante_359M', 'pmts_date_1107D'],
       dtype='object'))])),
                 ('clf', LogisticRegression(max_iter=1000, random_state=0))]),
 {'AUC': 0.9949786906955759,
  'Gini Stability': 0.9147935606880729,
  'log_loss': 0.030127286517692736},
 {'AUC': 0.6795107407896358,
  'Gini Stability': 0.217892867674466,
  'log_loss': 0.2119675100254908})

In [42]:
cols_set_2

['clientscnt_1071L',
 'cntincpaycont9m_3716944L',
 'credamount_770A',
 'datelastunpaid_3546854D',
 'firstdatedue_489D',
 'lastapprcommoditycat_1041M',
 'lastcancelreason_561M',
 'lastdelinqdate_224D',
 'lastrejectdate_50D',
 'lastrejectreason_759M',
 'lastst_736L',
 'mastercontrexist_109L',
 'maxdbddpdtollast12m_3658940P',
 'maxdebt4_972A',
 'maxdpdlast6m_474P',
 'maxoutstandbalancel12m_4187113A',
 'mobilephncnt_593L',
 'monthsannuity_845L',
 'numcontrs3months_479L',
 'numincomingpmts_3546848L',
 'numinstls_657L',
 'numinstlsallpaid_934L',
 'numinstlswithdpd5_4187116L',
 'numinstpaidlastcontr_4325080L',
 'numinsttopaygr_769L',
 'numrejects9m_859L',
 'pctinstlsallpaidearl3d_427L',
 'pctinstlsallpaidlate4d_3546849L',
 'pmtnum_254L',
 'price_1097A',
 'assignmentdate_238D',
 'dateofbirth_337D',
 'days120_123L',
 'description_5085714M',
 'formonth_535L',
 'fortoday_1092L',
 'forweek_1077L',
 'numberofqueries_373L',
 'pmtaverage_3A',
 'pmtaverage_4527227A',
 'pmtscount_423L',
 'pmtssum_45A',
 'riskassesment_302T',
 'approvaldate_319D',
 'credtype_587L',
 'employedfrom_700D',
 'familystate_726L',
 'isbidproduct_390L',
 'maxdpdtolerance_577P',
 'pmtnum_8L',
 'rejectreason_755M',
 'status_219L',
 'amtdepositoutgoing_4809442A',
 'classificationofcontr_400M',
 'dateofcredend_353D',
 'financialinstitution_382M',
 'lastupdate_1112D',
 'monthlyinstlamount_674A',
 'nominalrate_498L',
 'numberofoverdueinstlmaxdat_148D',
 'overdueamountmaxdatemonth_365T',
 'overdueamountmaxdateyear_994T',
 'periodicityofpmts_1102L',
 'prolongationcount_1120L',
 'contractenddate_991D',
 'birth_259D',
 'contaddr_district_15M',
 'education_927M',
 'empladdr_district_926M',
 'language1_981M',
 'mainoccupationinc_384A',
 'registaddr_district_1083M',
 'num_group2',
 'collater_typofvalofguarant_298M',
 'collater_typofvalofguarant_407M',
 'collaterals_typeofguarante_359M',
 'pmts_month_158T',
 'pmts_date_1107D']

In [43]:
len(cols_set_2)

78

### let's instead look at which columns seem to decrease performance, and remove those

In [51]:
def find_dec(col_name):
    threshold = met_stats.loc['25%'][col_name + ' diff']
    metrics[col_name + ' dec'] = metrics[col_name + ' diff'] < threshold
    return metrics

In [52]:
metrics = find_dec('train AUC')
metrics = find_dec('train gini')
metrics = find_dec('test AUC')
metrics = find_dec('test gini')
metrics

,columns,train AUC,train gini,test AUC,test gini,train AUC diff,train gini diff,test AUC diff,test gini diff,train AUC inc,train gini inc,test AUC inc,test gini inc,train AUC dec,train gini dec,test AUC dec,test gini dec
0,"['actualdpdtolerance_344P', 'amtinstpaidbefdue...",0.680265,0.281248,0.655037,0.113800,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False
1,"['amtinstpaidbefduel24m_4187115A', 'annuity_78...",0.680305,0.281470,0.655385,0.114548,0.000040,0.000222,0.000348,0.000748,False,False,False,False,False,False,False,False
2,"['annuity_780A', 'annuitynextmonth_57A', 'appl...",0.654121,0.209124,0.641964,0.105539,-0.026184,-0.072346,-0.013421,-0.009009,False,False,False,False,True,True,True,True
3,"['annuitynextmonth_57A', 'applicationcnt_361L'...",0.651671,0.203835,0.634877,0.077457,-0.002449,-0.005290,-0.007086,-0.028083,False,False,False,False,True,True,True,True
4,"['applicationcnt_361L', 'applications30d_658L'...",0.651558,0.204617,0.631739,0.068214,-0.000113,0.000782,-0.003138,-0.009243,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,"['conts_role_79M', 'empls_economicalst_849M', ...",0.569088,0.075141,0.562909,0.019772,-0.000637,-0.001931,-0.000178,-0.002227,False,False,False,False,False,False,False,False
443,"['empls_economicalst_849M', 'empls_employedfro...",0.569041,0.075262,0.563148,0.022188,-0.000047,0.000121,0.000239,0.002416,False,False,False,False,False,False,False,False
444,"['empls_employedfrom_796D', 'empls_employer_na...",0.572390,0.083731,0.565747,0.034017,0.003350,0.008468,0.002599,0.011828,True,True,True,True,False,False,False,False
445,"['empls_employer_name_740M', 'relatedpersons_r...",0.572378,0.083763,0.565762,0.034244,-0.000012,0.000032,0.000015,0.000227,False,False,False,False,False,False,False,False
446,"['relatedpersons_role_762T', 'collater_typofva...",0.572352,0.083674,0.565744,0.034183,-0.000027,-0.000089,-0.000018,-0.000061,False,False,False,False,False,False,False,False

In [54]:
bad_cols_1 = metrics[(metrics['train AUC dec'] == True) & (metrics['train gini dec'] == True)
       & (metrics['test AUC dec'] == True) & (metrics['test gini dec'] == True)]
bad_cols_1 = bad_cols_1['columns'].apply(get_new_col).to_list()
cols_set_3 = [x for x in all_cols if x not in bad_cols_1]

bad_cols_2 = metrics[(metrics['test AUC dec'] == True) & (metrics['test gini dec'] == True)]
bad_cols_2 = bad_cols_2['columns'].apply(get_new_col).to_list()
cols_set_4 = [x for x in all_cols if x not in bad_cols_2]

In [55]:
model_pipeline(data, cols_set_3)

Log Loss: 0.008838026142817477
AUC: 0.999482378316923
Gini Stability Score: 0.9081137829702375
Log Loss: 0.22090017066319875
AUC: 0.7045680047703939
Gini Stability Score: 0.22893809152900504

(Pipeline(steps=[('preprocessor',
                  ColumnTransformer(transformers=[('num',
                                                   Pipeline(steps=[('scaler',
                                                                    StandardScaler())]),
                                                   Index(['case_id', 'WEEK_NUM', 'actualdpdtolerance_344P',
        'amtinstpaidbefduel24m_4187115A', 'annuity_780A',
        'annuitynextmonth_57A', 'applicationcnt_361L', 'applications30d_658L',
        'applicationscnt_1086L', 'applicationscnt_464L',
        ...
        'pmts_dpd_107...
        'empls_employedfrom_796D', 'empls_employer_name_740M',
        'relatedpersons_role_762T', 'collater_typofvalofguarant_298M',
        'collater_typofvalofguarant_407M', 'collaterals_typeofguarante_359M',
        'collaterals_typeofguarante_669M', 'subjectroles_name_541M',
        'subjectroles_name_838M', 'pmts_date_1107D'],
       dtype='object', length=148))])),
                 ('clf', LogisticRegression(max_iter=1000, random_state=0))]),
 {'AUC': 0.999482378316923,
  'Gini Stability': 0.9081137829702375,
  'log_loss': 0.008838026142817477},
 {'AUC': 0.7045680047703939,
  'Gini Stability': 0.22893809152900504,
  'log_loss': 0.22090017066319875})

In [56]:
model_pipeline(data, cols_set_4)

Log Loss: 0.014116755831871424
AUC: 0.9988862693644347
Gini Stability Score: 0.9092075164343567
Log Loss: 0.22161969471354007
AUC: 0.6951387083237094
Gini Stability Score: 0.21852144008490165

(Pipeline(steps=[('preprocessor',
                  ColumnTransformer(transformers=[('num',
                                                   Pipeline(steps=[('scaler',
                                                                    StandardScaler())]),
                                                   Index(['case_id', 'WEEK_NUM', 'actualdpdtolerance_344P',
        'amtinstpaidbefduel24m_4187115A', 'annuity_780A',
        'annuitynextmonth_57A', 'applicationcnt_361L', 'applications30d_658L',
        'applicationscnt_1086L', 'applicationscnt_464L',
        ...
        'pmts_dpd_107...
        'empls_employedfrom_796D', 'empls_employer_name_740M',
        'relatedpersons_role_762T', 'collater_typofvalofguarant_298M',
        'collater_typofvalofguarant_407M', 'collaterals_typeofguarante_359M',
        'collaterals_typeofguarante_669M', 'subjectroles_name_541M',
        'subjectroles_name_838M', 'pmts_date_1107D'],
       dtype='object', length=128))])),
                 ('clf', LogisticRegression(max_iter=1000, random_state=0))]),
 {'AUC': 0.9988862693644347,
  'Gini Stability': 0.9092075164343567,
  'log_loss': 0.014116755831871424},
 {'AUC': 0.6951387083237094,
  'Gini Stability': 0.21852144008490165,
  'log_loss': 0.22161969471354007})

In [59]:
len(cols_set_3)

424

### this set of columns gives us the best test gini stability, with only a small (1%) decrease AUC compared to using all the columns

In [60]:
np.array(cols_set_3)

array(['actualdpdtolerance_344P', 'amtinstpaidbefduel24m_4187115A',
       'annuity_780A', 'annuitynextmonth_57A', 'applicationcnt_361L',
       'applications30d_658L', 'applicationscnt_1086L',
       'applicationscnt_464L', 'applicationscnt_629L',
       'applicationscnt_867L', 'avgdbddpdlast24m_3658932P',
       'avgdbddpdlast3m_4187120P', 'avgdbdtollast24m_4525197P',
       'avgdpdtolclosure24_3658938P', 'avginstallast24m_3658937A',
       'avglnamtstart24m_4525187A', 'avgmaxdpdlast9m_3716943P',
       'avgoutstandbalancel6m_4187114A', 'avgpmtlast12m_4525200A',
       'bankacctype_710L', 'cardtype_51L', 'clientscnt6m_3712949L',
       'clientscnt_100L', 'clientscnt_1071L', 'clientscnt_1130L',
       'clientscnt_136L', 'clientscnt_157L', 'clientscnt_257L',
       'clientscnt_304L', 'clientscnt_360L', 'clientscnt_946L',
       'cntincpaycont9m_3716944L', 'cntpmts24_3658933L',
       'commnoinclast6m_3546845L', 'credamount_770A', 'credtype_322L',
       'currdebt_22A', 'currdebtcredtyperange_828A',
       'datefirstoffer_1144D', 'datelastinstal40dpd_247D',
       'datelastunpaid_3546854D', 'daysoverduetolerancedd_3976961L',
       'deferredmnthsnum_166L', 'disbursedcredamount_1113A',
       'disbursementtype_67L', 'downpmt_116A',
       'dtlastpmtallstes_4499206D', 'eir_270L',
       'equalitydataagreement_891L', 'equalityempfrom_62L',
       'firstclxcampaign_1125D', 'firstdatedue_489D', 'homephncnt_628L',
       'inittransactionamount_650A', 'inittransactioncode_186L',
       'interestrate_311L', 'interestrategrace_34L', 'isbidproduct_1095L',
       'lastapplicationdate_877D', 'lastapprcommoditycat_1041M',
       'lastapprcommoditytypec_5251766M', 'lastapprcredamount_781A',
       'lastapprdate_640D', 'lastcancelreason_561M',
       'lastdelinqdate_224D', 'lastdependentsnum_448L',
       'lastotherinc_902A', 'lastrejectcommoditycat_161M',
       'lastrejectcommodtypec_5251769M', 'lastrejectcredamount_222A',
       'lastrejectdate_50D', 'lastrejectreason_759M',
       'lastrejectreasonclient_4145040M', 'lastrepayingdate_696D',
       'lastst_736L', 'maininc_215A', 'mastercontrelectronic_519L',
       'mastercontrexist_109L', 'maxannuity_159A', 'maxannuity_4075009A',
       'maxdbddpdlast1m_3658939P', 'maxdbddpdtollast12m_3658940P',
       'maxdbddpdtollast6m_4187119P', 'maxdebt4_972A',
       'maxdpdfrom6mto36m_3546853P', 'maxdpdinstldate_3546855D',
       'maxdpdinstlnum_3546846P', 'maxdpdlast12m_727P',
       'maxdpdlast24m_143P', 'maxdpdlast3m_392P', 'maxdpdlast6m_474P',
       'maxdpdtolerance_374P', 'maxinstallast24m_3658928A',
       'maxoutstandbalancel12m_4187113A', 'maxpmtlast3m_4525190A',
       'mindbddpdlast24m_3658935P', 'mindbdtollast24m_4525191P',
       'mobilephncnt_593L', 'monthsannuity_845L', 'numactivecreds_622L',
       'numactivecredschannel_414L', 'numactiverelcontr_750L',
       'numcontrs3months_479L', 'numincomingpmts_3546848L',
       'numinstls_657L', 'numinstlsallpaid_934L',
       'numinstlswithdpd10_728L', 'numinstlswithdpd5_4187116L',
       'numinstlswithoutdpd_562L', 'numinstmatpaidtearly2d_4499204L',
       'numinstpaid_4499208L', 'numinstpaidearly3d_3546850L',
       'numinstpaidearly3dest_4493216L', 'numinstpaidearly5d_1087L',
       'numinstpaidearly5dest_4493211L', 'numinstpaidearly5dobd_4499205L',
       'numinstpaidearlyest_4493214L', 'numinstpaidlastcontr_4325080L',
       'numinstpaidlate1d_3546852L', 'numinstregularpaid_973L',
       'numinstregularpaidest_4493210L', 'numinsttopaygr_769L',
       'numinsttopaygrest_4493213L', 'numinstunpaidmax_3546851L',
       'numinstunpaidmaxest_4493212L', 'numnotactivated_1143L',
       'numpmtchanneldd_318L', 'numrejects9m_859L', 'opencred_647L',
       'paytype1st_925L', 'payvacationpostpone_4187118D',
       'pctinstlsallpaidearl3d_427L', 'pctinstlsallpaidlat10d_839L',
       'pctinstlsallpaidlate1d_3546856L',
       'pctinstlsallpaidlate4d_3546849L',
       'pctinstlsallpaidlate6d_3546844L', 'pmtnum_254L',
       'posfpd10lastmonth_333P', 'posfpd30lastmonth_3976960P',
       'posfstqpd30lastmonth_3976962P', 'previouscontdistrict_112M',
       'price_1097A', 'sellerplacecnt_915L', 'sellerplacescnt_216L',
       'sumoutstandtotal_3546847A', 'sumoutstandtotalest_4493215A',
       'totalsettled_863A', 'totinstallast1m_4525188A',
       'twobodfilling_608L', 'typesuite_864L', 'validfrom_1069D',
       'assignmentdate_238D', 'assignmentdate_4527235D',
       'assignmentdate_4955616D', 'birthdate_574D',
       'contractssum_5085716L', 'dateofbirth_337D', 'dateofbirth_342D',
       'days120_123L', 'days30_165L', 'days360_512L', 'days90_310L',
       'description_5085714M', 'education_1103M', 'education_88M',
       'for3years_128L', 'for3years_504L', 'for3years_584L',
       'formonth_118L', 'formonth_535L', 'forquarter_1017L',
       'forquarter_634L', 'fortoday_1092L', 'forweek_1077L',
       'forweek_528L', 'forweek_601L', 'foryear_618L', 'foryear_818L',
       'fourthquarter_440L', 'maritalst_385M', 'maritalst_893M',
       'numberofqueries_373L', 'pmtaverage_3A', 'pmtaverage_4527227A',
       'pmtaverage_4955615A', 'pmtcount_4527229L', 'pmtcount_4955617L',
       'pmtcount_693L', 'pmtscount_423L', 'pmtssum_45A',
       'requesttype_4525192L', 'responsedate_1012D',
       'responsedate_4527233D', 'responsedate_4917613D',
       'riskassesment_302T', 'riskassesment_940T', 'secondquarter_766L',
       'thirdquarter_1082L', 'actualdpd_943P', 'approvaldate_319D',
       'cancelreason_3545846M', 'childnum_21L', 'creationdate_885D',
       'credacc_actualbalance_314A', 'credacc_credlmt_575A',
       'credacc_maxhisbal_375A', 'credacc_minhisbal_90A',
       'credacc_status_367L', 'credacc_transactions_402L',
       'credamount_590A', 'credtype_587L', 'dateactivated_425D',
       'district_544M', 'downpmt_134A', 'dtlastpmt_581D',
       'dtlastpmtallstes_3545839D', 'education_1138M',
       'employedfrom_700D', 'familystate_726L',
       'firstnonzeroinstldate_307D', 'inittransactioncode_279L',
       'isbidproduct_390L', 'isdebitcard_527L', 'mainoccupationinc_437A',
       'maxdpdtolerance_577P', 'num_group1', 'outstandingdebt_522A',
       'pmtnum_8L', 'postype_4733339M', 'profession_152M',
       'rejectreason_755M', 'rejectreasonclient_4145042M',
       'revolvingaccount_394A', 'status_219L', 'tenor_203L',
       'amtdebitincoming_4809443A', 'amtdepositoutgoing_4809442A',
       'name_4527232M', 'recorddate_4527225D', 'amount_4917619A',
       'deductiondate_4917603D', 'name_4917606M', 'employername_160M',
       'pmtamount_36A', 'processingdate_168D', 'annualeffectiverate_199L',
       'annualeffectiverate_63L', 'classificationofcontr_13M',
       'classificationofcontr_400M', 'contractsum_5085717L',
       'credlmt_230A', 'credlmt_935A', 'dateofcredend_289D',
       'dateofcredend_353D', 'dateofcredstart_181D',
       'dateofcredstart_739D', 'dateofrealrepmt_138D',
       'debtoutstand_525A', 'debtoverdue_47A', 'description_351M',
       'dpdmax_139P', 'dpdmax_757P', 'dpdmaxdatemonth_442T',
       'dpdmaxdatemonth_89T', 'dpdmaxdateyear_596T',
       'dpdmaxdateyear_896T', 'financialinstitution_382M',
       'financialinstitution_591M', 'instlamount_768A',
       'instlamount_852A', 'interestrate_508L', 'lastupdate_1112D',
       'lastupdate_388D', 'monthlyinstlamount_332A',
       'monthlyinstlamount_674A', 'nominalrate_281L', 'nominalrate_498L',
       'numberofcontrsvalue_258L', 'numberofcontrsvalue_358L',
       'numberofinstls_229L', 'numberofinstls_320L',
       'numberofoutstandinstls_520L', 'numberofoutstandinstls_59L',
       'numberofoverdueinstlmax_1039L', 'numberofoverdueinstlmax_1151L',
       'numberofoverdueinstlmaxdat_148D',
       'numberofoverdueinstlmaxdat_641D', 'numberofoverdueinstls_834L',
       'outstandingamount_354A', 'outstandingamount_362A',
       'overdueamount_31A', 'overdueamount_659A', 'overdueamountmax2_14A',
       'overdueamountmax2_398A', 'overdueamountmax2date_1002D',
       'overdueamountmax2date_1142D', 'overdueamountmax_155A',
       'overdueamountmaxdatemonth_284T', 'overdueamountmaxdatemonth_365T',
       'overdueamountmaxdateyear_2T', 'overdueamountmaxdateyear_994T',
       'periodicityofpmts_1102L', 'periodicityofpmts_837L',
       'prolongationcount_1120L', 'prolongationcount_599L',
       'purposeofcred_426M', 'purposeofcred_874M', 'refreshdate_3813885D',
       'residualamount_488A', 'residualamount_856A', 'subjectrole_182M',
       'subjectrole_93M', 'totalamount_6A', 'totaldebtoverduevalue_718A',
       'totaloutstanddebtvalue_39A', 'totaloutstanddebtvalue_668A',
       'amount_1115A', 'classificationofcontr_1114M', 'contractdate_551D',
       'contractst_516M', 'contracttype_653M', 'credlmt_1052A',
       'credlmt_228A', 'credquantity_1099L', 'credquantity_984L',
       'debtpastduevalue_732A', 'debtvalue_227A', 'dpdmax_851P',
       'dpdmaxdatemonth_804T', 'installmentamount_644A',
       'installmentamount_833A', 'instlamount_892A',
       'interesteffectiverate_369L', 'interestrateyearly_538L',
       'lastupdate_260D', 'maxdebtpduevalodued_3940955A',
       'numberofinstls_810L', 'overdueamountmax_950A',
       'overdueamountmaxdatemonth_494T', 'overdueamountmaxdateyear_432T',
       'periodicityofpmts_997L', 'periodicityofpmts_997M',
       'pmtdaysoverdue_1135P', 'pmtmethod_731M', 'pmtnumpending_403L',
       'purposeofcred_722M', 'residualamount_1093A',
       'residualamount_127A', 'residualamount_3940956A',
       'subjectrole_326M', 'subjectrole_43M', 'totalamount_503A',
       'totalamount_881A', 'amount_416A', 'contractenddate_991D',
       'openingdate_313D', 'birth_259D', 'birthdate_87D', 'childnum_185L',
       'contaddr_district_15M', 'contaddr_matchlist_1032L',
       'contaddr_smempladdr_334L', 'contaddr_zipcode_807M',
       'education_927M', 'empl_employedfrom_271D',
       'empl_employedtotal_800L', 'empl_industry_691L',
       'empladdr_district_926M', 'empladdr_zipcode_114M',
       'familystate_447L', 'gender_992L', 'housetype_905L',
       'housingtype_772L', 'incometype_1044T', 'isreference_387L',
       'language1_981M', 'mainoccupationinc_384A', 'maritalst_703L',
       'personindex_1023L', 'persontype_1072L', 'persontype_792L',
       'registaddr_district_1083M', 'registaddr_zipcode_184M',
       'relationshiptoclient_415T', 'relationshiptoclient_642T',
       'remitter_829L', 'role_1084L', 'role_993L',
       'safeguarantyflag_411L', 'sex_738L', 'type_25L',
       'last180dayaveragebalance_704A', 'last180dayturnover_1134A',
       'last30dayturnover_651A', 'openingdate_857D',
       'cacccardblochreas_147M', 'conts_type_509L',
       'credacc_cards_status_52L', 'num_group2', 'addres_district_368M',
       'addres_role_871L', 'empls_economicalst_849M',
       'empls_employedfrom_796D', 'empls_employer_name_740M',
       'relatedpersons_role_762T', 'collater_typofvalofguarant_298M',
       'collater_typofvalofguarant_407M',
       'collater_valueofguarantee_1124L',
       'collater_valueofguarantee_876L',
       'collaterals_typeofguarante_359M',
       'collaterals_typeofguarante_669M', 'pmts_dpd_1073P',
       'pmts_dpd_303P', 'pmts_month_158T', 'pmts_month_706T',
       'pmts_overdue_1140A', 'pmts_overdue_1152A', 'pmts_year_1139T',
       'pmts_year_507T', 'subjectroles_name_541M',
       'subjectroles_name_838M', 'pmts_date_1107D', 'pmts_dpdvalue_108P',
       'pmts_pmtsoverdue_635A'], dtype='<U31')